body {
    font-size: 16px;
    font-family: "Apple Chancery", cursive;
}
h1 {
    font-size: 32px;
}
.post {
    border-radius: 8px;
    border-style: dotted;
    margin: 15px;
}
a {
    font-size: larger;
}
