
body {
    font-size: 16px;
    font-family: "Apple Chancery", cursive;
  }

  h1 {
    font-size: 250%;
  }
  
  h3 {
    font-size: 175%;
    margin: 0px;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
  }
  

  
  
  label {
    font-size: 100%;
    position: relative;

  }
  
  input {
    border-radius: 8px;
    border-width: 2px;
    font-size: 200%;
    height: 45px;
    line-height: 20px;
    margin: 0;
    margin-top: 10px;
    max-width: 50%;
    padding: 0px 0px 10px 0px;
    vertical-align: middle;
    width: 100%;
    
  }

#content {
  min-height: 150px;
  max-height: 150px;
  min-width: 100%;
  font-size: 1.2em;

}
#title {
  max-width: 45%;
  min-height: 80%;
  max-height: 80%;

}

#username {
  max-width: 45%;
  min-height:80%;
  max-height: 80%;
}

